<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Webmobi\Import\Api\Data\FeedInterface" type="Webmobi\Import\Model\Feed" />
    <virtualType name="ImportGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="FeedGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Webmobi\Import\Model\Resource\Feed\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">ImportGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="Webmobi\Import\Model\ResourceModel\Feed\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">import_feed</argument> 
            <argument name="resourceModel" xsi:type="string">Webmobi\Import\Model\ResourceModel\Feed</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="import_feed_listing_data_source" xsi:type="string">Webmobi\Import\Model\ResourceModel\Feed\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
